# Bỏ qua file tạm thời và biên dịch của Altium
*.PrjPcbStructure
*.DBBackup
*.LOG
*.DsnWrk
*.Wrkspc
*.OutJob
*.REP
*.CAM
*.NC

# Bỏ qua thư mục tạm
__Previews/
ProjectLogs/

# Bỏ qua file Windows
Thumbs.db
Desktop.ini

History/

AltiumLL.txt
desktop.ini